<!-- Add you custom twig html here -->
{{ attach_library('poke_show_content/poke_home') }}
{{ attach_library('poke_theme/bootstrap') }}
<div class="container">
  <div class="row text-align-center">
    <h1>{{ 'Poquemon' }}</h1>
  </div>
  <div id="pokemon-list" class="row">
  </div>
  <div id="image-loader" class="text-align-center">
    <img src="{{ base_path ~ directory }}/assets/loading.gif" class="img-responsive">
  </div>

  <div class="text-favorites row">
    <p>{{ 'You dont have favorites selected' |t }}</p>
  </div>

  {% block head %}
    {% include directory ~ '/templates/poke-modal.html.twig' %}
  {% endblock %}
</div>
