<!-- Add you custom twig html here -->
{{ attach_library('poke_show_content/poke_home') }}
{{ attach_library('poke_theme/bootstrap') }}
<div class="container">
  <div class="row text-align-center">
    <h1>{{ 'Poquemon' }}</h1>
  </div>
  <div class="row">
    <p>{{ 'Can compare skills of two poquemons selected compare and automaticallly show abilities and weaknes.'|t }}</p>
  </div>
  <div class="search row">
    <div class="search col-xs-12 col-sm-9">
      <input type="text" id="poke-search" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="{{ 'Enter name of pokemon to search' }}">
    </div>
  </div>
  <div id="pokemon-list" class="row">
  </div>
  <div id="image-loader" class="text-align-center">
    <img src="{{ base_path ~ directory }}/assets/loading.gif" class="img-responsive">
  </div>
  {% block head %}
    {% include directory ~ '/templates/poke-modal.html.twig' %}
  {% endblock %}
</div>
