<div class="modal fade ins" id="pokeDetail" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <h2 class="text-center modal-name"></h2>
    <div class="modal-content">
      <div class="modal-body row">
        <div class="poke-card-detail  col-md-6 col-sm-12">
          <div class="pokemon-modal-container">
            <div class="row">
              <div class="modal-image col-md-6 col-sm-12">
                <img src="" class="image-poke">
              </div>
              <div class="col-md-6 col-sm-12 poke-basic-info">
                <h5 class="poke-name text-align-center"></h5>
                <div class="card-info">
                  <span>{{ 'Category'|t }}</span>
                  <ul class="list-unstyled modal-category"></ul>
                </div>

                <ul class="list-unstyled modal-list">
                  <li class="modal-height card-basic-info">{{ 'Height:'|t }} <span></span></li>
                  <li class="modal-weight card-basic-info">{{ 'Weight:'|t }} <span></span></li>
                </ul>
                <div class="card-info">
                  <span>{{ 'Type'|t }}</span>
                  <ul class="modal-type list-unstyled"></ul>
                </div>
              </div>
            </div>
          </div>
          <div class="poke-description">
            <p class="modal-description"></p>
            <div class="info">
              <div class="card-info">
                <span>{{ 'Ability'|t }}</span>
                <ul class="modal-ability list-unstyled"></ul>
              </div>
              <div class="card-info">
                <span>{{ 'Weakness'|t }}</span>
                <ul class="modal-weakness list-unstyled"></ul>
              </div>
            </div>
          </div>
        </div>
        <div class="poke-card-detail-compare hide col-md-6 col-sm-12">
          <div class="pokemon-modal-container">
            <div class="row">
              <div class="modal-image col-md-6 col-sm-12">
                <img src="" class="image-poke">
              </div>
              <div class="col-md-6 col-sm-12 poke-basic-info">
                <h5 class="poke-name text-align-center"></h5>
                <div class="card-info">
                  <span>{{ 'Category'|t }}</span>
                  <ul class="list-unstyled modal-category"></ul>
                </div>

                <ul class="list-unstyled modal-list">
                  <li class="modal-height">{{ 'Height'|t }} <span></span></li>
                  <li class="modal-weight">{{ 'Weight'|t }} <span></span></li>
                </ul>
                <div class="card-info">
                  <span>{{ 'Type'|t }}</span>
                  <ul class="modal-type list-unstyled"></ul>
                </div>

              </div>
            </div>
          </div>
          <div class="poke-description">
            <p class="modal-description"></p>
            <div class="info">
              <div class="card-info">
                <span class="text-align-center">{{ 'Ability'|t }}</span>
                <ul class="modal-ability list-unstyled"></ul>
              </div>
              <div class="card-info">
                <span class="text-align-center">{{ 'Weakness'|t }}</span>
                <ul class="modal-weakness list-unstyled"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-close-modal" data-dismiss="modal">{{ 'Close'|t }}</button>
        <button type="button" class="btn btn-primary btn-add-favorite hide">{{ 'Add to favorites'|t }}</button>
        <button type="button" class="btn btn-primary btn-remove-favorite hide">{{ 'Remove to favorites'|t }}</button>
      </div>
  </div>
  </div>
</div>
