.poke-container {
  padding: 10px;

  .poke-card {
    background-color: $silver-chalice;
    .extra-info {
      background-color: $white;
      border: 1px solid $silver-chalice;

      .poke-compare {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
      .like {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 0 10px;
        right: 15px;
        top: 3px;
        position: relative;
        background-color: $shuttle-gray;
        mask-image: url("../assets/valentines-heart.png");
        -webkit-mask-image: url("../assets/valentines-heart.png");
      }
    }
  }

  .favorite {
    .extra-info {
      .like {
        background-color: $bright-red;
      }
    }
  }
}
.custom-checkbox {
  .custom-control-label::before {
    @include border-radius($custom-checkbox-indicator-border-radius);
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      @include gradient-bg($custom-control-indicator-checked-bg);
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-checked;
    }
  }

  .custom-control-input:indeterminate ~ .custom-control-label {
    &::before {
      @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
      @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
    }
    &::after {
      background-image: $custom-checkbox-indicator-icon-indeterminate;
    }
  }

  .custom-control-input:disabled {
    &:checked ~ .custom-control-label::before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
    &:indeterminate ~ .custom-control-label::before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
  }
}

.hide {
  display: none;
}
