.poke-card-detail {
  background-color: $silver-chalice;
  color: $white;

  .poke-name {
    font-weight: 700;
    text-transform: uppercase;
  }

  .card-info {

    span {
      font-weight: 700;
    }
  }
}

.poke-card-detail-compare {
  .poke-name {
    font-weight: 700;
    text-transform: uppercase;
  }

  .card-info {

    span {
      font-weight: 700;
    }
  }
}
